.country {
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: rgb(0 0 0 / 5%) 0px 1px 3px, rgb(0 0 0 / 5%) 0px 20px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
	border: 1px solid rgb(233, 236, 239);
}
.panel-heading .country-name {
	line-height: 0px;
}
.panel-heading .country-name p {
	font-size: 17px;
	line-height: 17px;
}

.table th {
	font-weight: 600;
}
